.App {
    text-align: center;
}

.App-header {
    text-align: center;
    height: 150px;
    padding: 20px;
    display: flex;
}

.App-title {
    font-size: 3em;
    align-self: flex-start;
    flex-grow: 2;
    margin-top: 1%;
}

.username {
    align-self: flex-end;
    color: rgb(94, 159, 221);
}

.App-intro {
    font-size: large;
}

.calendar {
    display: flex;
    flex-wrap: wrap;
}

.day-box {
    height: 150px;
    width: 150px;
    flex: 1 1 12%;
    margin: 1%;
    border: 2px solid rgb(223, 164, 164);
    text-align: left;
}

.day-number {
    margin-left: 5%;
}

.btn {
    background-color: transparent;
    position: relative;
    border: none;
    outline: none;
    color: rgb(34, 34, 197);
    cursor: pointer;
}

.btn:hover {
    color: rgb(71, 135, 231);
}

.new-event-button {
    top: -18px;
    left: 26px;
}

.edit-button {
    padding-left: 0;
    text-align: left;
}

.event-box {
    position: relative;
    height: 86%;
    overflow: auto;
    top: -16px;
    padding-left: 30px;
}

.description {
    display: flex;
    flex-direction: column;
    cursor: default;
}

h4 {
    margin: 0;
    margin-top: 20px;
}

p {
    margin: 0;
    margin-top: 5px;
    font-size: 12px;
}

.event-form {
    display: flex;
    flex-direction: column;
    background-color: white;
    position: relative;
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    left: 14%;
    top: -33%;
}

.input {
    border: 0;
    background: none;
    outline: none;
}

.input:focus {
    border: solid 1px lightgrey;
}

input[type="submit"] {
    width: 63px;
    margin-top: 3px;
}

label {
    color: rgb(94, 94, 94)
}

.error {
    color: red;
    font-size: 10px;
}
