.App {
    text-align: center;
}

.App-header {
    text-align: center;
    height: 150px;
    padding: 20px;
    display: flex;
}

.App-title {
    font-size: 3em;
    align-self: flex-start;
    flex-grow: 2;
    margin-left: -77%;
    margin-top: 1%;
}

.username {
    align-self: flex-end;
    color: rgb(94, 159, 221);
}

.App-intro {
    font-size: large;
}

.calendar {
    display: flex;
    flex-wrap: wrap;
}

.day-box {
    height: 150px;
    flex: 1 1 12%;
    margin: 1%;
    border: 2px solid rgb(223, 164, 164);
    text-align: left;
}

.day-number {
    margin-left: 5%;
}

.new-event-button {
    height: 100%;
    width: 100%;
    background-color: transparent;
    position: relative;
    top: -50px;
    border: none;
    outline: none;
    top: -200px;
}

.event-box {
  position: relative;
  height: 100%;
  overflow: auto;
  top: -23px;
  padding-left: 30px;
}

.description {
    display: flex;
    flex-direction: column;
}

h4 {
    margin: 0;
    margin-top: 20px;
}

p {
    margin: 0;
    margin-top: 5px;
}

.event-form {
  margin-top: -12px;
  display: flex;
  flex-direction: column;
  margin-left: 17%;
}

.input {
    border: 0;
    background: none;
    outline: none;
}

.input:focus {
    border: solid 1px lightgrey;
}

input[type="submit"] {
    width: 63px;
    margin-top: 3px;
}

label {
    color: rgb(94, 94, 94)
}
